body{
    font-family: 'Raleway', sans-serif;
}
ul.topnav{
list-style-type: none;
overflow: hidden;
padding: 20px 0px;
margin-top: 0;
border-bottom: 2px solid rgba(190, 182, 182, 0.164);
text-transform: uppercase;
position: fixed;
top: 0;
width: 100%;
background-color: white;

}
ul.topnav+img{
    padding-top: 60px;
}
a:visited{color: blue;}
#rk{
    float: left;
    margin-left: 30px;
    
}
ul.topnav li a{
    text-decoration: none;
    float: right;
    margin-right: 40px;
}
img{
    width: 30%;
    margin: 1.5%;
    
}

@media(max-width:900px){
    img{
        width: 28%;
        margin: 1.5%;
    }

}
